/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.quickModules {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.quickModules .button {
  margin: 0.25rem;
}

.features {
  padding: 4rem 0;
}

.features h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.features ul, .features ol {
  padding-left: 1.5rem;
}

.features li {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .quickModules {
    flex-direction: column;
    align-items: center;
  }

  .quickModules .button {
    width: 100%;
    max-width: 300px;
    margin: 0.25rem 0;
  }
}